* {
	margin: 0;
	padding: 0;
}

.header {
  min-height: 300px;
	width: auto;
	background-image: url(./img/fon.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 200px;
	margin-top: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

h2 {
	text-align: center;
	margin-top: 25px;
}

.picture {
	display: flex;
	justify-content: space-evenly;
	margin-top: 70px;
	padding: 0px -15px;
}
img {
	width: 300px;
	height: 200px;
	border-radius: 50px;
}

ul {
	 text-align: center;
	 padding-bottom: 100px;
	 width: 700px;
	 
}

ul li {
	display: inline; 
	margin: 30px;
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: normal;
	font-size: 20px;
	padding-bottom: 30px;
	
}

a {
	text-decoration: none;
	color: rgba(255,255,255, 1);
}

